<?xml version="1.0" encoding="iso-8859-1" standalone="yes"?>
<!-- synapse XML configuration -->
<synapseconfig>
  <client name="core">
    <api name="image">
      pcx tga wal
    </api>
    <api name="VFS">
      pak
    </api>
    <api name="shaders">
      idtech2
    </api>
    <api name="map">
      mapq2
    </api>
    <api name="eclass">
      def
    </api> 
    <api name="surfdialog">
      idtech2
    </api>
  </client>
  <client name="image">
    <api name="VFS">
      pak
    </api>
  </client>
  <client name="shaders">
    <!-- NOTE: this is a SYN_PROVIDE -->
    <api name="shaders">
       idtech2
    </api>
    <api name="VFS">
       pak
    </api>
  </client>
  <client name="map">
    <api name="shaders">
      idtech2
    </api>
  </client>
  <client name="xmap">
    <api name="shaders">
      idtech2
    </api>
  </client>
  <client name="model">
    <api name="shaders">
      idtech2
    </api>
    <api name="VFS">
      pak
    </api>
  </client>
</synapseconfig>
